﻿@{
    Layout = null;
}

<table>
    <tr>
        <th>About</th>
        <th>Phone number</th>
        <th>Adresses</th>
        <th>Location</th>
    </tr>
    <tr>
        <td>@ViewBag.About</td>
        <td>@ViewBag.Phone</td>
        <td>@ViewBag.Adresses</td>
        <td>@ViewBag.Location</td>
    </tr>
</table>

